body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e8b057d8;
  color: #023033;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d16500a6;
  padding: 10px 20px;
  color: rgb(139, 43, 5);
}

nav h1 {
  margin: 0;
  font-size: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav a {
  color: rgb(230, 221, 120);
  text-decoration: none;
  font-weight: bold;
}

.banner{
    text-align: center;
    background-color: rgba(246, 121, 121, 0.29);
    padding: 30px 50px;
    margin: 40px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card {
  background-color: rgba(255, 213, 213, 0.559);
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card img{
    width: 100%;
    border-radius: 8px;
}

.cartao {
  background-color: rgba(255, 213, 213, 0.559);
  border-radius: 8px;
  padding: 10px;
  width: 800px;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.cartao2 {
  background-color: rgba(255, 213, 213, 0.559);
  border-radius: 8px;
  padding: 10px;
  width: 1000px;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.cartao3 {
  background-color: rgba(255, 213, 213, 0.559);
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.cartao4 {
  background-color: rgba(255, 213, 213, 0.559);
  border-radius: 8px;
  padding: 10px;
  width: 500px;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.cartao3 img{
    width: 100%;
    border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
}

.cartao:hover {
  transform: scale(1.05);
}

.cartao2:hover {
  transform: scale(1.05);
}

.cartao3:hover {
  transform: scale(1.05);
}

.cartao4:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 15px;
  background-color: rgba(139, 45, 5);
  color: white;
  margin-top: 20px;
}