*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: #840000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
header img{
    border-radius: 50%;
}
.container{
    width: 100vw;
    height: 50vh;
    display: flex;
}
nav{
    width: 200px;
    height: 90vh;
    background-color: #990404;
    transition: .2s;
}

nav ul{
    list-style: none;
}

nav ul li{
    width: 200px;
    height: 40px;
    padding: 5px;
    color: rgb(47, 1, 1);
}

nav ul li:hover{
    cursor: pointer;
    background-color: #f39595b5;
}
.content{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.box{
    width: 250px;
    height: 400px;
    border-radius: 10px;
    background-color: #f19f9fb4;
}
.box img{
   width: 100%;
   max-height: 80%;
   border-radius: 5px 5px 0 0;
}
.box p {
    color: rgb(0, 0, 0);
    font-size: 16px;
}
.box #nome{
    font-weight: bold;
}
.box .info{
    height: 35%;
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
