*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    margin: 0;
    color: rgb(71, 71, 205);
}
.calculo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: lightblue;
    border-radius: 15px;
}
input{
    margin-top: 10px;
}
button{
    border-color: black;
    border-radius: 15px;
    width: 100px;
}