*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    margin: 0;
}
.lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: lightblue;
    border-radius: 15px;
}

button {
    padding: 5px 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 3vh;
}