*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: classic;
    background: rgb(247, 150, 150);
    line-height: 1.6;
}
header{
    background: rgba(171, 33, 33, 0.574);
    color: rgb(112, 26, 26);
    padding: 1rem 0;
    text-align: center;
}
header h1{
    margin-bottom: 0.5rem;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
nav ul li a{
    color: rgba(113, 1, 1, 0.942);
    text-decoration: none;
    transition: color 0.3s ease;
}
nav ul li a:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
}
section{
    padding: 2rem;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.559);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
h2{
    margin-bottom: 1rem;
}
.sobre-mim{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.foto-perfil{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #d29d17;
}
.sobre-informacoes{
    flex: 1;
}
.sobre-informacoes h2{
    margin-bottom: 0.5rem;
}
.sobre-informacoes p{
    font-size: 1rem;
    color: #555;
}
.cartoes{
    display: flex;
    gap: 1rem;
}
.cartao{
    background: #d43a3a;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgb(184, 78, 78);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cartao:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px (0,0,0,0.2);
    background-color: #ec7e7e;
}
.cards{
    display: flex;
    gap: 1rem;
}
.card{
    background: #d43a3a;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgb(184, 78, 78);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px (0,0,0,0.2);
    background-color: #ec7e7e;
}
.carts{
    display: flex;
    gap: 1rem;
}
.cart{
    background: #d43a3a;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgb(184, 78, 78);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cart:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px (0,0,0,0.2);
    background-color: #ec7e7e;
}
.hobbies{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hobby{
    display: flex;
    align-items: center;
    background: #d43a3a;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px (0,0,0,0.1);
    gap: 1rem;
}
.hobby i{
    font-size: 2rem;
    color: black; 
}
.hobby h3{
    color: rgb(93, 11, 11);
    margin-bottom: 0.5rem;
}
.hobby p{
    color: rgb(254, 171, 171);
}