body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #2d6a4f;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 8px 16px;
    background: #40916c;
    border-radius: 5px;
    font-weight: bold;
}

nav a:hover {
    background: #1b4332;
}

.card {
    width: 420px;
    margin: 30px auto;
    padding: 25px;
    background: rgb(184, 216, 174);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card h2 {
    margin-top: 0;
    text-align: center;
}

.card input {
    width: 95%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 15px;
}

.card button {
    padding: 12px;
    background: #2d6a4f;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover {
    background: #1b4332;
}

.table-container {
    width: 850px;
    margin: 20px auto;
    background: rgb(184, 216, 174);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.table-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000000;
}

th, td {
    padding: 12px;
    border: 1px solid #000000;
    text-align: center;
}

th {
    background: #2d6a4f;
    color: white;
}

tr:hover {
    background: #dee9df;
}