body{
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    background-color: #eefee8;
    color: #333;
}
header{
    background: #5ab32daa;
    color: #117b1d;
    padding: 20px;
    text-align: center;
}
header h1{
    margin: 0;
    font-size: 28px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav a{
    color:#f5f7fa;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
main{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.tabela{
    width: 90%;
    max-width: 1000px;
    background: #dcf1d9;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(147, 147, 147, 0.514);
    padding: 20px;
    transition: transform 0.3s ease;
}
.tabela h2{
    margin-bottom: 20px;
    text-align: center;
    color: #14630b;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background: #51c360bd;
    color: rgb(19, 116, 43);
}
thead th{
    padding: 14px;
    text-align: left;
    font-size: 16px;
}
td img{
    width: 60px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
tbody tr:nth-child(odd) {background-color: rgba(158, 228, 161, 0.662);}
tbody tr:nth-child(even) {background-color: #1a822668;}
tbody td{
    padding: 12px 14px;
    font-size: 15px;
}
tbody td a{
    color: #0e5a0d;
    text-decoration: none;
    font-weight: bold;
}
tbody td a:hover{
    color: #2fa526;
    text-decoration: underline;
}
tbody tr{
    transition: background 0.3s, transform 0.2s;
}
tbody tr:hover{
    transform: scale(1.01);
    filter: brightness(0.95);
}
.preço{
    color: #155d02;
    font-weight: bold;
}
.estoque{
    font-weight: bold;
}
.estoque.baixo{
    color: rgb(159, 0, 0);
}
.estoque.alto{
    color: rgb(0, 127, 0);
}
footer{
    background: #5ab32daa;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    margin-top: 20px;
}
.cards{
    color: #009708;
    border: 1px solid rgb(4, 83, 0);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    width: 200px;
    background-color: rgba(211, 249, 212, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0,3s ease, box-shadow 0,3s ease;
}