body{
    background: url('bi.jpg') no-repeat;
    background-size: cover;
    font-family: Sans serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}
header{
    background-color: rgba(215, 117, 117, 0.307);
    text-shadow: 1px 1px 2px rgb(14, 5, 5);
    color: rgb(179, 0, 0);
    padding: 10px 0;
    text-align: center;
}
header h1{
    margin: 2;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.banner{
    text-align: center;
    background-color: rgb(158, 50, 50);
    padding: 30px 0;
}
section{
    padding: 80px;
    margin: 0 10px;
}
.cartao{
    color: rgba(158, 50, 50);
    border: 1px solid rgb(140, 73, 73);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0,3s ease, box-shadow 0,3s ease;
}
.cartao:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.cartao img{
    width: 100%;
    border-radius: 8px;
}
#titulo{
    color: rgb(192, 33, 33);
}
