* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #b2f7e4;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    background-color: rgb(195, 238, 255);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

h1 {
    position: absolute;
    top: 50px;
    font-size: 28px;
    color: #333;
}

.card a {
    text-decoration: none;
    background-color: #0895c4;
    color: white;
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: bold;
}

.card a:hover {
    background-color: #0003b5;
    transform: scale(1.05);
}
