* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    background-color: rgb(244, 211, 140);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(191, 155, 25);
    margin-bottom: 30px;
    text-align: center;
}

input {
    padding: 12px;
    width: 250px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #e6c645;
    transform: scale(1.05);
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}